/* ---- GLOBAL ---- */
body {
    font-family: arial;
    font-size: 13px;
    color: #757575;
    margin:0;
    padding:0;
    min-width: 995px;
}

/* ---- NAV ---- */


/* ---- MIDDLE SECTION ---- */
.middle-section {
    margin-top: 180px;
    text-align: center;
}

.logo {
    width: 285px;
    margin-bottom: 20px;
}

.searchbar {
    width: 580px;
    padding-left: 8px;
    margin-bottom: 30px;
    font-size: 16px;
    border: 1px solid #d9d9d9;
    overflow: auto;
}

.searchbar:hover {
    border: 1px solid #b9b9b9;
    border-top-color: #a0a0a0;
}

.searchbar:focus {
    outline: none;
    border: 1px solid #4285f4;
}

button {
    color: #757575;
    font-weight: bold;
    font-size: 1em;
    width: 135px;
    height: 35px;
    background-color: #f2f2f2;
    border: none;
    margin: 2px;
}

button:hover {
    color: #000;
}

/* ---- FOOTER ---- */
footer {
    height: 40px;
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer li {
    display: inline;
    list-style: none;
    margin-right: 20px;
    padding-right: 2px;
    padding-left: 2px;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}
