.container {
    width: 100%;
    height: 400px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 80px;

    background: #70e1f5; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #70e1f5, #ffd194);
    background: -o-linear-gradient(right, #70e1f5, #ffd194);
    background: linear-gradient(to left, #70e1f5, #ffd194); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 40px;
    line-height: 30px;
}

h2 {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 20px;
    line-height: 45px;
}

p {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 25px;
}

.section1 {
    margin: 0 auto;
    max-width: 1200px;
    height: 300px;
}

.text {
    float: left;
    width: 800px;
}

.image {

}

.point-hand {
    width: 80px;
    height: auto;
}

.freepik {
    font-size: 5px;
    text-decoration: none;
    color: #a0a0a0;
}

@media (max-width: 768px) {
    .section1 {
        margin: 0 40px;
    }
}
