body {
    font-family: arial;
    font-size: 13px;
}

.middle-section {
    top: 50%;
    text-align: center;
}

.logo {
    width: 270px;
}

.searchbar {
    width: 580px;
    padding-left: 8px;
    font-size: 16px;
    border: 1px solid #d9d9d9;
    overflow: auto;
}

.searchbar:focus {
    outline: none;
    border: 1px solid #4285f4;
}

footer {
    bottom: 0;
}

.footer-left {
    float: left;
}

.footer-left li {
    display: inline;
    list-style: none;
    margin-right: 20px;
}

.footer-right {
    float: right;
}

.footer-right li {
    display: inline;
    list-style: none;
    margin-right: 20px
}
